h3 {
	margin-top: 13px;
	display: inline-block;
	margin-left: 4px;
	margin-right: 10px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 170px;
    display: inline-block;
}

.hide {
	display: none;
}

.clickable {
	cursor: pointer;
}

.header-buttons {
	margin: 10px 10px;
}

.btn-default {
	margin-right: 5px;
	margin-top: 10px;
	margin-left: 10px;
}

.btn-primary {
	margin-top: 10px;
	margin-right: 15px;
}

.stripes {
	width: 100%;
	height: 100%;
	
	-webkit-background-size: 50px 50px;
	-moz-background-size: 50px 50px;
	background-size: 50px 50px; /* Controls the size of the stripes */
	
	-moz-box-shadow: 1px 1px 8px gray;
	-webkit-box-shadow: 1px 1px 8px gray;
	box-shadow: 1px 1px 8px gray;
}

.angled-135 {
	background-color: #565658;
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%,
						transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%,
						transparent 75%, transparent);
}

.info {
	width: 55%;
	padding: 50px;
	top: 50%;
	left: 50%;
	line-height: 1.5;
	font-size: x-large;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.error {
	width: 55%;
	padding: 50px;
	top: 50%;
	left: 50%;
	line-height: 1.5;
	font-size: x-large;
	text-align: center;
	position: absolute;
	transform: translate(-50%, -50%);
	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.status {
	border-radius: 13px;
	width: 37px;
	position: fixed;
	height: 37px;
	margin-top: 8px;
	text-align: center;
}

#instance-status > i {
	margin-top: 7px;
	cursor: default;
}

.fa-2x {
	font-size: 22px;
}